@charset "UTF-8";

:root {
  --primary-bg-color: #19cbdf;
  --primary-bg-hover: #82c035;
  --primary-bg-border: #8fbd56;
  --dark-body: #2c2f3e;
  --dark-theme: rgba(0, 0, 0, 0.3);
  --dark-bg: rgba(0, 0, 0, 0.2);
  --dark-border: rgba(255, 255, 255, 0.15);
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
  
.tabs-menu-form {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

.tabs-menu-form li {
  float: left;
}

.tabs-menu-form li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.tabs-menu-form li a:hover:not(.active) {
  color: #666;
  /* background-color: #04AA6D; */
  border-bottom: 3px solid var(--primary-bg-color);
}

.tabs-menu-form li a.active {
  color: #f3f3f3;
  background-color: #19cbdf;
}

.header-tab {
  /* color: #f3f3f3; */
  background-color: #40828a;
}

/* Button */ 
.btn-green {
  color: #fff;
  background-color: #41c33a !important;
  border-color: #41c33a !important;
}

.btn-green:hover {
  color: #fff;
  background-color: rgba(78, 204, 72, 0.85) !important;
  border-color: rgba(78, 204, 72, 0.85);
}

.btn-green:focus,
.btn-green:focus {
  box-shadow: 0 0 0 2px rgba(78, 204, 72, 0.9);
  border-color: #41c33a;
}

.btn-green:disabled,
.btn-green:disabled {
  color: #fff;
  background-color: rgba(78, 204, 72, 0.6);
  border-color: rgba(78, 204, 72, 0.6);
}

.btn-green:not(:disabled):not(.disabled):active,
.btn-green:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: rgba(78, 204, 72, 0.85);
  border-color: rgba(78, 204, 72, 0.85);
}

.btn-green:not(:disabled):not(.disabled):active:focus,
.btn-green:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 2px rgba(78, 204, 72, 0.56) !important;
}

.show>.btn-green.dropdown-toggle:focus {
  box-shadow: 0 0 0 2px rgba(78, 204, 72, 0.56) !important;
}

.btn-green.disabled,
.btn-green:disabled {
  border: transparent;
}

.show>.btn-green.dropdown-toggle {
  color: #fff;
  background-color: #41c33a;
  border-color: #41c33a;
}

/* Navbar */
.left-sidebar .scroll-sidebar{
  background-color: #f0f8ff;
}

.accordion-search .card-header {
  color: #fff;
  background-color:  #6d92f7;
  border-color: #ffffff;
}

.accordion-input .card-header {
  color: #fff;
  background-color:  #6d92f7;
  border-color: #ffffff;
}

.card-header .accor-style2 {
  color: #fff; 
}

/* breacumb */
.breadcrumb-item+.breadcrumb-item:before{
  float:left;
  padding-right:var(--bs-breadcrumb-item-padding-x);
  color:var(--bs-breadcrumb-divider-color); 
  content: var(--bs-breadcrumb-divider, "\f287");
}